@model VotingApp.Business.Models.RegisterNewParticipant
@{
    ViewData["Title"] = "Register New Participant";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Create a new participant.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="FirstName" class="form-control" autocomplete="off" aria-required="true" />
            <label asp-for="FirstName"></label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="MiddleName" class="form-control" autocomplete="off" aria-required="true" />
            <label asp-for="MiddleName"></label>
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="LastName" class="form-control" autocomplete="off" aria-required="true" />
            <label asp-for="LastName"></label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="PartyId" class="form-control" autocomplete="off" aria-required="true" />
            <label asp-for="PartyId"></label>
            <span asp-validation-for="PartyId" class="text-danger"></span>
        </div>
        <a class="btn btn-primary" style="width:auto"
           asp-controller="Admin" asp-action="AddNewParticipant">
                    Add
                </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
