@using VotingApp.Business.Models
@model ViewParticipantInParty
@{
    ViewBag.Title = "Delete Confirm";
}

<h1>Потвърждение за изтриване</h1>

<div class="alert alert-danger">
    <h5 class="text-start">Изтриване на:</h5>
    <h4 class="text-black te">@Model.FirstName @Model.LastName</h4>
    <h5 class="text-start">От партия:</h5>
    <h4 class="text-black">@Model.Party</h4>
    <form method="post" asp-action="DeleteParticipant" asp-controller="Admin" asp-route-id="@Model.Id">
        <button type="submit" class="btn btn-danger">Изтрий</button>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="User" asp-action="ListOfAllParticipants">Отказ</a>
    </form>
</div>